import cn from 'classnames'

import styles from './{{pascalCase name}}.module.scss'

interface {{pascalCase name}}Props {
  containerClassName?: string
}

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  const { containerClassName } = props

  const containerClasses = cn(styles.container, containerClassName)

	return (
		<div className={containerClasses}>
			{{pascalCase name}}
		</div>
	)
}
